.notification {
  z-index: 2;
  height: 120px;
  width: 35vw;
  position: fixed;
  top: 10px;
  left: 10px;
  border: 3px solid white;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.9);
  color: white;
  font-size: 40px;
  display: flex;
  align-items: center;
  padding: 10px;
  animation: slideIn 1s linear;
}
.notification h2 {
  font-size: 48px;
  letter-spacing: 2px;
}
.hiding {
  animation: slideOut 1s linear;
}
.icon {
  width: 75px;
  color: yellow;
  font-size: 72px;
}
@keyframes slideIn {
  0% {
    transform: translate(-30vw);
  }
  100% {
    transform: translate(0px);
  }
}
@keyframes slideOut {
  0% {
    transform: translate(0px);
  }
  100% {
    transform: translate(-30vw);
  }
}
