.chooseCharacter {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  background-image: url("/src/assets/backgrounds/chooseCharacterBg.jpg");
  background-size: cover;
}
