@import url("https://fonts.googleapis.com/css2?family=VT323&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "VT323", monospace;
}
body {
  overflow: hidden;
}
#launchBtn {
  background-color: transparent;
  color: white;
  font-size: 36px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 5px solid rgb(85, 3, 85);
  padding: 20px;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 200ms, box-shadow 200ms;
}
#launchBtn:hover {
  background-color: rgb(85, 3, 85);
  box-shadow: 0px 0px 50px rgb(85, 3, 85);
}
.f-big,
.f-big p,
.f-big li,
.f-big button {
  font-size: 48px !important;
}
.f-big h1 {
  font-size: 96px !important;
}
.f-big h2 {
  font-size: 72px !important;
}
.f-big,
.f-small p,
.f-small li,
.f-small button {
  font-size: 17px !important;
}
